@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

$bg_color: #F5F4F0;
$white_color: #FFF;
$y_axis_padding: 95px;
$base_font: 'Roboto', Arial, Tahoma, sans-serif;
$text_color: #2B2B2B;