@import "_variables";
@import "_normalize";
@import "_menu";

html, body {
    background-color: $bg_color;
    color: $text_color;
    font-family: $base_font;
}
.wrapper {
    width: 100%;
    max-width: 1066px;
    height: 100%;
    margin: 0 auto;
    padding-top: $y_axis_padding;
    padding-bottom: $y_axis_padding;
}